.redColor {
    color: red
}

.maxLogin {
    max-width: 600px !important
}

.loginAccBtns {
    max-width: 260px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form.container {
    max-width: 1140px !important
}

span.start {
    color: #9c1a2c
}

.checkaccept {
    margin: 3px 0 0 -21px !important;
}

.form-group .error {
    color: #9c1a2c
}

.invalid-feedback div {
    color: #9c1a2c
}