<div class="paddTop">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card m-3">
                        <h5 class="card-header highlight text-center">Product Upload</h5>
                        <div class=" card-body">
                            <form [formGroup]="registerProduct" class="container" (ngSubmit)="pdtSubmit()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Product Name</label>
                                            <input type="text" formControlName="productName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productName.errors }" />
                                            <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">
                                                <div *ngIf="f.productName.errors.required"> Name is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Select Category</label>
                                        <select formControlName="categoryID" (change)="catSelect($event)" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.categoryID.errors }">
                                        <option value="">Select</option>
                                        <option [value]="cat.catID" *ngFor="let cat of catList">{{cat.catName}}</option>
                                    </select>
                                        <div *ngIf="submitted && f.categoryID.errors" class="invalid-feedback">
                                            <div *ngIf="f.categoryID.errors.required">Category is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Select Sub Category</label>{{subTemp.length}}{{subTempBoolean}}
                                        <select formControlName="subcategoryID" [disabled]="subTempBoolean" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subcategoryID.errors }">
                                      <option value=""></option>
                                      <option [value]="subcat.subCatID" *ngFor="let subcat of subTemp">{{subcat.subCatName}}</option>
                                  </select>
                                        <div *ngIf="submitted && f.subcategoryID.errors" class="invalid-feedback">
                                            <div *ngIf="f.subcategoryID.errors.required">Category is required</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Count Available</label>
                                            <input type="text" formControlName="productCount" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productCount.errors }" />
                                            <div *ngIf="submitted && f.productCount.errors" class="invalid-feedback">
                                                <div *ngIf="f.productCount.errors.required">Count is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <input type="text" formControlName="productDescription" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productDescription.errors }" />
                                            <div *ngIf="submitted && f.productDescription.errors" class="invalid-feedback">
                                                <div *ngIf="f.productDescription.errors.required">Description is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Rate Symbol</label>
                                            <input type="text" formControlName="productRateSymbol" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productRateSymbol.errors }" />
                                            <div *ngIf="submitted && f.productRateSymbol.errors" class="invalid-feedback">
                                                <div *ngIf="f.productRateSymbol.errors.required">Rate Symbol is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Rate</label>
                                            <input type="text" formControlName="productRate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productRate.errors }" />
                                            <div *ngIf="submitted && f.productRate.errors" class="invalid-feedback">
                                                <div *ngIf="f.productRate.errors.required">Rate is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Offer Percentage</label>
                                            <input type="text" formControlName="productOfferPercent" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productOfferPercent.errors }" />
                                            <div *ngIf="submitted && f.productOfferPercent.errors" class="invalid-feedback">
                                                <div *ngIf="f.productOfferPercent.errors.required">Offer Percentage is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputGroupFile01">Upload Product Image</label>
                                            <input (change)="fileChange($event,$event.target.files)" type="file" id="inputGroupFile01" formControlName="productImage" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productImage.errors}" />
                                            <div *ngIf="submitted && f.productImage.errors" class="invalid-feedback">
                                                <div *ngIf="f.productImage.errors.required">Image is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <img width="100%" class="image imgPreview" *ngIf="imageUrl" [src]="imageUrl">
                                    </div>
                                </div>


                                <div class="text-center mt-20">
                                    <button class="btn btn-danger btn-sm mr-1">Add Product</button>
                                    <button class="btn btn-secondary btn-sm" type="reset" (click)="onReset()">Cancel</button> </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a><img src="../../../assets/images/logo.png"></a>

                </div>
                <div class="col-md-3">
                    <h4 class="highlight">STAY CONNECTED</h4>
                    <p>Chenithra Technologies Private Limited, Madipakkam, Ponniamman kovil street, Chennai, 560103, Tamil Nadu, India</p>
                    <p>Call - 044-4201023</p>
                    <p>Mail - info@chenithra.com</p>
                </div>
                <div class="col-md-3">
                    <h4 class="highlight">CONTACT</h4>
                    <p>Facebook</p>
                    <p>Twitter</p>
                    <p>Yaaho</p>
                    <p>Youtube</p>
                </div>
                <div class="col-md-3">
                    <h4 class="highlight">POLICY</h4>
                    <p>Return Policy</p>
                    <p>Terms of Use</p>
                    <p>Security</p>
                    <p>Privacy</p>
                    <p>Sitemap</p>
                </div>
            </div>
        </div>
    </section>
    <section class="btmFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    2021 Chenithra Technologies Pvt Ltd. All Rights Reserved.
                </div>
            </div>
        </div>
    </section>
</div>