.gridProduct {
    overflow: hidden;
    box-shadow: 0 6px 6px 0px #ccc;
    margin: 0 0 30px 0;
}

.catName {
    text-transform: uppercase;
    position: relative;
}

.catName span {
    background: #fafafa;
    display: inline-block;
    padding: 0 10px 0 10px;
    position: relative;
}

.catName::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    top: calc(50% - 0.5px);
}

.productDesc {
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-height: 175px;
    justify-content: space-between;
}

.descProduct {
    width: 100%;
    overflow: hidden;
    margin: 0 0 10px 0;
}

.priceGrid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productDesc h4 {
    font-size: 18px;
    margin: 0 0 14px 0;
    font-weight: normal;
    color: #9c1a2c;
}

.imgSlider {
    width: 100%;
    min-height: 280px;
    background-position: center !important;
    background-size: cover !important;
    display: flex;
    align-items: center;
    padding: 15px;
}

.imgSlider h2 {
    color: #fff;
    text-shadow: 0 0 12px #333;
    font-size: 45px;
}

.imgSlider-container {
    padding: 0;
    margin-bottom: 50px;
}

.countCart {
    display: flex;
    width: 90px;
}

.countCart button {
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    width: 30px;
    height: 30px;
}

.countCart input {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}